In [1]:
import json
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats


import pymysql
pymysql.install_as_MySQLdb()

from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

In [2]:
# createing connection to database with sqlalchemy
username = 'root' 
password = 'root'
connection = f'mysql+pymysql://{username}:{password}@localhost/imdb'
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/imdb)

In [3]:
#check if database exists, if not, crete it
if database_exists(connection):
     print('It exists!')
else:
    create_database(connection)
    print ('Database created!')

It exists!

In [4]:
#check if tables created
q = '''SHOW TABLES;'''
pd.read_sql(q,engine)

  Tables_in_imdb
0   genre_lookup
1   title_basics
2   title_genres
3  title_ratings
4     title_tmdb

In [5]:
#check the data in the tables
q='''SELECT * FROM title_tmdb;'''
pd.read_sql(q,engine)

        imdb_id     revenue certification
0             0         NaN          None
1     tt0113026         0.0          None
2     tt0113092         0.0          None
3     tt0116391         0.0          None
4     tt0118694  12854953.0            PG
...         ...         ...           ...
2499  tt7797670         0.0          None
2500  tt7797790         0.0          None
2501  tt8665056         0.0          None
2502  tt8795764         0.0            NR
2503  tt9071078         0.0          None

[2504 rows x 3 columns]

In [13]:
#Does the MPAA rating of a movie (G/PG/PG-13/R) affect how much revenue the movie generates?
#check the data in the tables
q='''SELECT certification,revenue FROM title_tmdb where certification in ('G','PG','PG-13','R') group by certification;'''
pd.read_sql(q,engine)

  certification      revenue
0            PG   12854953.0
1             R          0.0
2             G  224834564.0
3         PG-13  546388105.0